* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

.board {
  margin: auto;
  width: min(100vw, 100vh);
  height: min(100vw, 100vh);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
}

.row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
}

.redSquare, .blackSquare {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.redSquare {
  background-color: red;
}

.blackSquare {
  background-color: black;
}

.whiteChecker, .redChecker {
  height: 75%;
  width: 75%;
}

.whiteChecker {
  border-radius: 100%;
  background-color: white;
}

.redChecker {
  border-radius: 100%;
  background-color: red;
}
